<!DOCTYPE html>
<html>
<head>
  <title>Lesson Booking App</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.7.16/dist/vue.js"></script>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div id="app">

  <header>
    <h1>Lesson Booking App</h1>
      <button v-on:click="toggleCart" :disabled="cart.length === 0">
        <i class="fa-solid fa-cart-shopping"></i> {{ cart.length }} Cart
      </button>
  </header>

    <main v-if="!showCart">

      <input 
        type="text" 
        v-model="searchText" 
        placeholder="Search lessons…" 
        class="search-box"
      >

      <div class="sort-options">
        <strong>Sort by:</strong><br>
        <label><input type="radio" v-model="sortAttribute" value="subject"> Subject</label>
        <label><input type="radio" v-model="sortAttribute" value="location"> Location</label>
        <label><input type="radio" v-model="sortAttribute" value="price"> Price</label>
        <label><input type="radio" v-model="sortAttribute" value="spaces"> Availability</label>
        <br>
        <label><input type="radio" v-model="sortOrder" value="asc"> Ascending</label>
        <label><input type="radio" v-model="sortOrder" value="desc"> Descending</label>
      </div>

      <div class="lesson-list">
        <div class="lesson" v-for="lesson in filteredLessons" :key="lesson.id">
          <p><strong>Subject:</strong> {{ lesson.subject }}</p>
          <p><strong>Location:</strong> {{ lesson.location }}</p>
          <p><strong>Price:</strong> £{{ lesson.price }}</p>
          <p><strong>Spaces:</strong> {{ lesson.spaces }}</p>
          <i :class="lesson.icon"></i><br><br>

          <button class="cart-btn" 
                  v-on:click="addToCart(lesson)" 
                  :disabled="lesson.spaces === 0">
            Add to cart
          </button>
        </div>
      </div>
    </main>

    <main v-else>
      <h2>Shopping Cart</h2>

      <div v-if="cart.length === 0">
        <p>Your cart is empty.</p>
      </div>

      <div v-else>
        <div class="cart-item" v-for="item in cart" :key="item.id">
          <i :class="item.icon" style="font-size:20px; margin-bottom:6px;"></i>
          <p><strong>Subject:</strong> {{ item.subject }}</p>
          <p><strong>Location:</strong> {{ item.location }}</p>
          <p><strong>Price:</strong> £{{ item.price }}</p>
          <button v-on:click="removeFromCart(item)">Remove</button>
        </div>

        <h3>Checkout</h3>

         <p>
          <strong>Name:</strong>
          <input v-model="order.name" placeholder="Enter name"
           @input="order.name = order.name.replace(/[^A-Za-z]/g, '')">
        </p>

      </div>
    </main>

  </div>

  <script src="app.js"></script>
</body>
</html>
