body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  background-color: #2563eb;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 5px;
  cursor: pointer;
}

button:disabled {
  background-color: grey;
  cursor: not-allowed;
}

.search-box {
  padding: 8px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-bottom: 15px;
  display: block;
}

.lesson {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 8px;
  width: 200px;
  border-radius: 6px;
  background: #fff;
}

.cart-btn {
  margin-top: 10px;
}

.sort-options {
  margin: 15px 0 20px 0;
  padding: 10px;
  border: 1px solid #ddd;
  width: 340px;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.sort-options label {
  display: inline-block;
  margin-right: 10px;
  margin-top: 5px;
}

.cart-item {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 8px 0;
  border-radius: 6px;
  width: 250px;
  background: #fff;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}


input {
  padding: 6px;
  margin: 4px 0;
  border-radius: 4px;
  border: 1px solid #ccc;
}